<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <header class="header-v4">
            <div class="container-menu-desktop how-shadow1">
        <%- include('../includes/navigation.ejs') %>

        <main class="container">
                <%- include('../includes/productlist.ejs') %>         
        </main>
<%- include('../includes/end.ejs') %>